@import '../OrderForm.scss';

.destination {
	@include order-body;

	&__label {
		@include order-label;
	}

	&__input {
		@include order-input;
	}

	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	&__show-map {
			border: none;
			border-right: 1px solid var(--dark);
	}
	&__show-address {
			border: none;
			border-left: 1px solid var(--dark);
	}

	&__button {
		@include order-button;
		width: 100%;
		margin: 0 0 0.75em;
		padding: 0.5em;
		border-bottom: 1px solid var(--dark);
		color: var(--dark);
		
		&:focus {
			outline: none;
			color: var(--colour2);
		}

		&--active {
			border: none;
			background-color: var(--light);
			color: var(--dark);
			
			&:focus {
				color: var(--dark);
			}
		}
	}
}
