.App {
	min-height: 100vh;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.header {
	grid-area: header;
	background-color: #003;

	&__title {
		padding-top: 1em;
		color: #f2f3f4;
		text-align: center;
	}
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
