.App {
	min-height: 100vh;
	font-family: "Ubuntu", sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.header {
	grid-area: header;
	cursor: default;
	user-select: none;
	background-color: var(--colour1);

	&__title {
		padding-top: 1em;
		color: var(--light);
		text-align: center;
	}
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
