@import '../OrderForm.scss';

.confirm {
	@include order-body;

	&__details {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__label {
		justify-self: left;
		margin: 0.5em;
		font-size: 1.25rem;
	}
	
	&__detail {
		justify-self: left;
		margin: 0.5em;
		font-size: 1.25rem;
	}
}
