@import '../OrderForm.scss';

.account {
	@include order-body;

	&__label {
		@include order-label;
	}

	&__input {
		@include order-input;
		margin-bottom: 3em;
	}

	&__container {
		margin: auto;
		display: flex;
		flex-direction: column;
	}
}
