@import '../OrderForm.scss';

.order-nav {
	grid-area: footer;
	width: 100%;
	min-height: 88px;
	background-color: #f2f3f4;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&__back {
		@include order-button;
		margin-right: auto;
		width: auto;
		background-color: #a00;
	}
	
	&__next {
		@include order-button;
		margin-left: auto;
		background-color: #00a;

		&--grey {
			background-color: #005;
			color: #333;
			cursor: default;
		}
	}

	&__submit {
		@include order-button;
		margin-left: auto;
		background-color: #00a;
	}
}
