@import '../OrderForm.scss';

.order-nav {
	grid-area: footer;
	width: 100%;
	min-height: 88px;
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&__back {
		@include order-button;
		margin-right: auto;
		width: auto;
		background-color: var(--colour3);
		color: var(--grey);
	}
	
	&__next {
		@include order-button;
		margin-left: auto;
		background-color: var(--colour1);

		&--grey {
			background-color: var(--colour1-dark);
			color: var(--grey);
			cursor: default;
		}
	}

	&__submit {
		@include order-button;
		margin-left: auto;
		background-color: var(--colour2);
	}
}
